# Lab 5: Differential Expression (3/16/20)
## by Jonathan Fischer and Courtney Rauchman 
## due 3/23/20 @ 11:59 PM

In [3]:
# Load the modules we'll need
from datascience import *
import numpy as np
import random
import seaborn as sns
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
from scipy.stats import multivariate_normal
import scipy.stats as stats
import pandas as pd
plt.style.use('fivethirtyeight')
from client.api.notebook import Notebook

Today we're going to explore one of the most central topics in not only genomics, but all of statistics--hypothesis testing. In particular, we're interested in testing whether two populations have different means. In research, this often corresponds to determining whether a gene is "differentially expressed" in two different conditions. Examples include healthy/diseased, old/young, men/women, and liver/brain. Let's get started with some simulations to get a handle on things.

## Part I : The t-test and rank-sum test for differences in means

The t-test is used to test whether there is evidence that the means of two populations are different. It assumes that both populations are normally distributed. Depending on the variation, it may also assume that the variances are equal. Today we're going to explore the most common version of the t-test with normal data and then show it how it fails when the data are not normal.

In [ ]:
# Simulate two groups of 50 observations from standard normal distributions (mean 0, sd 1)

# hint: np.random.normal(mean, sd, number of observations)
norm_obs_1 = ?
norm_obs_2 = ?

Now you have two sets of 50 normal RVs and want to test whether the means of the populations they come from are different. To start, determine the null and alternative hypotheses below:

null hypothesis: mean_1 == mean_2
    
alternative hypothesis: mean_1 != mean_2

In [ ]:
# Let's run the t-test on our data and return the p-value. What do you expect on average?
# The p-value will be random because your observations are random. That is, if you re-run the prior cell 
# and then this one, you will get a different p-value.

# hint: stats.ttest_ind(group1, group2)[1] returns the p-value. [0] returns the test statistic
p_val = ?
p_val

One iteration can only tell us so much. Let's run it a bunch of times to see what happens! We want to make sure our test isn't too sensitive when the null is true. Based on the histogram, how often do we expect to incorrectly reject the null?

In [ ]:
# Simulate 10000 sets of observations and do the t-test each time. Store the p-values so we can examine them.
# Initialize the list to store p-values (you can just use [])
# Use a for loop to iteratively generate the p-values. In each iteration, draw two groups of 
# 50 standard normal observations and perform a t-test. Compute and append the p-value 
# compute with p = (stats.ttest_ind(group1, group2)[1])
# and append with p_values_1.append(p)

p_values_1 = ?
for i in np.arange(?):      # we should replace the ? here with the number of simulations we want to perform
    norm_obs_1 = ?          # use the syntax we learned in the first cell
    norm_obs_2 = ?          # remember we want both sets of 50 observations to come from N(0,1) distributions
                            # perform appending on this line
    
# What does the distribution of p-values look like? Let's investigate by making a histogram.
# Fill in the correct arguments to plt.hist; use 20 bins and density = True
plt.hist(?)
plt.title('t-test, N(0,1) vs N(0,1)')
plt.xlabel('p-value')
plt.ylabel('Density')
plt.show()

How about when the means are different? The ability of a test to correctly reject the null is known as its power. Let's examine the behavior of the t-test for a moderate difference in means.

In [ ]:
# Replicate the preceding cell, but instead draw one group from a N(0,1) and the other from a N(0.2, 1)
?
    
# What does the distribution of p-values look like?
plt.hist(?)
plt.title('t-test, N(0,1) vs N(0.2,1)')
plt.xlabel('p-value')
plt.ylabel('Density')
plt.show()

We've seen that the t-test performs sensibly when the data are normally distributed. Now let's examine what happens when we violate this assumption. The Cauchy distribution is a symmetric distribution that happens to have extremely heavy tails, meaning it frequently produces values far away from its center. Let's see how it looks--run the code below a few times and note what happens.

In [ ]:
# Let's compare histograms and density estimates for 1000 randomly sampled Cauchy and standard normal RVs.

plt.figure(figsize=(15,5))
plt.subplot(121)
sns.distplot(stats.cauchy.rvs(loc=0, scale=1, size=1000), kde=True)
plt.xlabel('Value')
plt.ylabel('Density')
plt.title('Cauchy')

plt.subplot(122)
sns.distplot(np.random.normal(0, 1, 1000), kde=True)
plt.xlabel('Value')
plt.ylabel('Density')
plt.title('Gaussian')

plt.show()

The t-test tests for differences in means, whereas the rank-sum test tests for something called "stochastic dominance". Loosely speaking, let's interpret this to mean a shift in the distribution. For symmetric distributions, this is equivalent to differences in means or medians. Let's evaluate how the p-values for two two tests differ on normal- and Cauchy-distributed data. (Note: the rank-sum test has a few names. These include the Mann-Whitney U test and the Wilcoxon rank-sum test. I usually just say "rank-sum test".)

In [ ]:
# t-test on Gaussian and Cauchy data. 
# Set location = .2 and n_trials = 10000
# (stats.ttest_ind(group1, group2)[1])

# Set parameter values
location = ?
n_trials = ?
# Initialize lists to store p-values
t_p_normal_vec = ?
t_p_cauchy_vec = ?

# For loop to iterate over number of simulated trials.
for _ in np.arange(?):
    normal_obs_1 = np.random.normal(?)    # draw 50 observations from a N(0,1)
    normal_obs_2 = np.random.normal(?)    # draw 50 observations from a N(location,1)
    cauchy_obs_1 = stats.cauchy.rvs(?)    # draw 50 observations from a Cauchy(0,1)
    cauchy_obs_2 = stats.cauchy.rvs(?)    # draw 50 observations from a Cauchy(location,1)
                                          # append normal p-values to t_p_normal_vec
                                          # append Cauchy p-values to t_p_cauchy_vec

# Make a histogram with the normal p-values first and the Cauchy p-values second.
plt.figure(figsize=(15,5))
plt.hist(?, bins = 20, density = True, color = 'Blue', alpha = 0.5) # plot the normal (Gaussian) p-values
plt.hist(?, bins = 20, density = True, color = 'Red', alpha = 0.5) # plot the Cauchy p-values
plt.xlabel('Value')
plt.ylabel('Density')
plt.legend(['Gaussian','Cauchy'])
plt.title('t-test')
plt.show()

In [ ]:
# Replicate the above cell, but replace the t-test with the rank-sum test.
# Make sure your histogram looks the same (aesthetically) as the one above.
# hint: stats.mannwhitneyu(x = group1, y = group2)[1] returns the p-value for rank-sum test on group1 and group2

?

So it seems that the rank-sum test is robust to the choice of distribution while the t-test suffers quite a bit when our assumptions are invalid.

## Part II: Permutation Tests

Permutation tests provide another way to perform hypothesis testing. They are remarkably flexible, but can be computationally demanding. One benefit is the transparent way in which randomness enters the procedure. Let's see how they work when testing for a difference in medians.

### Difference in Medians

In [ ]:
# Write a function that performs a permutation test for the difference of medians.
# Inputs - your function should take four arguments:
    # 1 - The first array of observations to be used in the test
    # 2 - The second array of observations to be used in the test
    # 3 - the number of permutations (set default to 1000)
    # 4 - the test_type (set default to 'two-sided')
# Outputs - your function should return a list of 3 objects
    # 1 - The p-value
    # 2 - The null distribution of differences between medians
    # 3 - The true difference that was computed on the actual data

def medians_permutation_test(array_1, array_2, num_perm = 1000, test_type = 'two-sided'):
    true_diff = np.median(?) - np.median(?) # compute difference in medians of array_1 and array_2
    null_diffs = make_array() # initialize null_diffs, the array in which the differences will be stored
    merged_array = np.append(?, ?) # merge the two input arrays
    # For loop to perform permutations
    for i in np.arange(?):  # fill in the number of permutations to perform
        # permute the elements of merged_array
        shuffled_array = random.sample(list(merged_array), k = len(merged_array)) 
        group_1 = shuffled_array[:?] # get the elements of shuffled_array that serve as the new "array_1"
        group_2 = shuffled_array[?:] # get the elements of shuffled_array that serve as the new "array_2"
        diff_medians = np.median(?) - np.median(?) # compute the difference in medians of group_1 and group_2
        null_diffs = np.append(null_diffs, ?) # append diff_medians to null_diffs
    # If/else statements to allow us to perform the correct test for the desired alternative.
    # Compute the correct p-value in each setting.
    if test_type == 'two-sided':
        # what fraction of the time is the difference from permutations as extreme as the observation?
        p_val = np.sum(?)/?
    elif test_type == 'greater':
        # what fraction of the time is the difference from permutations greater than the observation?
        p_val = np.sum(?)/?
    elif test_type == 'less':
        # what fraction of the time is the difference from permutations less than the observation?
        p_val = np.sum(?)/?
    else:
        return "test_type improperly specified; choices are 'two-sided', 'greater', 'less'"
        
    return [?, ?, ?]

### Normal example

In [ ]:
# Let's start with observations from the normal distribution. Sample two groups of size 50 from 
# normal distributions with standard deviation 1 but respective means of 0 and 0.2.
normal_perm = medians_permutation_test(array_1 = np.random.normal(0,1,50), array_2 = np.random.normal(.2, 1, 50))

In [ ]:
# Let's make a histogram of the null distribution with our true value noted by a vertical red line.
# For each of the ?s, fill in with the proper element of normal_perm
plt.hist(?, density = True)
plt.axvline(x = ?, color = 'red', linewidth = 2)
plt.xlabel('Difference in medians')
plt.ylabel('Density')
plt.title('Perm. test, Gaussian. p-value is ' + str(?))
plt.show()

### Cauchy example

In [ ]:
# Repeat with cauchy distributions with scale paramter 1 but location parameters of 0 and 0.2.
cauchy_perm = medians_permutation_test(array_1 = stats.cauchy.rvs(loc=0, scale=1, size=50),
                                       array_2 = ?)

In [ ]:
# Produce the histogram from two cells above, but now for the test you just performed with Cauchy random variables
?

## Part III: Applying hypothesis testing to RNA-seq data for mammary tissue

In [8]:
# Load data for male and female samples of mammary tissue.
# These data have already been normalized for you. Also note that they
# are already on log2 scale.
female_data = pd.read_csv('https://raw.githubusercontent.com/ds-connectors/Data88-Genetics_and_Genomics/master/Lab05/female_data.csv', index_col=0)
male_data =  pd.read_csv('https://raw.githubusercontent.com/ds-connectors/Data88-Genetics_and_Genomics/master/Lab05/male_data.csv', index_col=0)

#### The data
- individual_id: identification for each person
- age: age in years
- ENSGXXXXXXXXXXX.X: a gene

In [9]:
# Look at female data
female_data[0:5]

,individual_id,age,ENSG00000227232.4,ENSG00000237683.5,ENSG00000239906.1,ENSG00000241860.2,ENSG00000237094.7,ENSG00000225972.1,ENSG00000225630.1,ENSG00000237973.1,...,ENSG00000110375.2,ENSG00000258137.1,ENSG00000154102.6,ENSG00000214049.6,ENSG00000258545.1,ENSG00000102243.8,ENSG00000204335.3,ENSG00000233673.2,ENSG00000254184.3,ENSG00000124939.4
0,1122O,64,9.472862,8.511856,3.912179,4.359106,7.543248,8.769976,13.782109,13.828460,...,2.660564,1.713130,7.370687,2.805017,7.191363,6.389709,8.304924,2.197593,8.078956,6.004972
1,11EM3,21,10.021887,11.158932,6.045909,7.177797,8.681529,6.089107,12.376671,13.098389,...,4.281051,1.455793,7.258705,6.381592,6.759111,9.557621,7.599735,2.049444,7.901291,6.226043
2,11EMC,66,10.141606,9.249839,3.843819,5.915275,8.287304,7.915531,12.982784,14.089816,...,1.991774,1.865565,8.253662,6.774388,6.311022,6.809710,5.497106,3.576248,8.006726,10.936709
3,11I78,51,10.124583,9.529601,4.379923,4.538749,7.911258,8.029622,13.936068,14.472028,...,2.694600,2.340492,7.690015,4.163559,8.097766,6.507936,7.602135,2.304819,7.129301,5.970833
4,11P81,31,9.089798,10.026867,4.902945,6.680241,8.185857,6.389890,12.891173,12.974815,...,3.184414,1.268261,7.843988,5.591702,8.260598,8.029097,6.402641,2.664616,8.043534,6.737102

In [10]:
# Look at male data. We see that for both, the rows are samples and the columns genes.
male_data[0:5]

,individual_id,age,ENSG00000227232.4,ENSG00000237683.5,ENSG00000239906.1,ENSG00000241860.2,ENSG00000237094.7,ENSG00000225972.1,ENSG00000225630.1,ENSG00000237973.1,...,ENSG00000110375.2,ENSG00000258137.1,ENSG00000154102.6,ENSG00000214049.6,ENSG00000258545.1,ENSG00000102243.8,ENSG00000204335.3,ENSG00000233673.2,ENSG00000254184.3,ENSG00000124939.4
0,111YS,62,9.660841,9.629347,4.354931,6.332703,8.725843,7.161228,13.294878,13.462766,...,2.555231,1.385785,8.722501,4.939572,6.307022,8.251542,6.550133,1.162577,7.606887,6.372133
1,117XS,64,10.016344,8.827595,3.633330,5.929060,8.777160,9.067792,15.433316,14.903609,...,1.327906,-0.084137,6.643726,-0.019605,10.672042,1.769833,5.349703,1.642746,6.840945,1.434722
2,1192X,55,9.945722,8.807326,2.565472,3.627211,7.354884,6.506506,13.192797,14.119293,...,0.814260,-0.084195,7.391828,3.217245,6.760239,7.442327,6.687320,1.437959,7.227423,6.670872
3,11DXW,43,9.571294,7.956392,2.086012,4.953465,7.786824,8.237153,14.030577,14.149805,...,1.374016,1.917362,8.895448,2.792236,7.337338,2.125317,5.342369,2.236973,7.350723,2.971686
4,11DXY,62,9.650121,6.140969,-0.161728,3.480555,7.386460,9.154622,14.999992,14.911233,...,2.843708,0.909213,5.720057,-0.019709,7.114112,1.110964,6.105266,2.040415,7.778753,0.154387

###### Plot the mean expression for each gene in men versus that in women

In [ ]:
# Compute the mean of each gene for men. (Recall np.mean(?, axis = ?)).
# If you're unsure whether you computed the mean along the correct direction, you can always check 
# the length of the vector you produce

# Don't forget to exclude the first two columns!

# men
mean_exp_men = ?

# women
mean_exp_women = ?

In [ ]:
# Make a scatterplot of the average expression in each gene for men and women. 
# Put women on the x-axis and men on the y-axis. 

plt.figure(figsize=(9,5))
plt.scatter(?, ? ,alpha=0.1)
plt.xlabel('Mean Expression Per Gene in Women')
plt.ylabel('Mean Expression Per Gene in Men')
plt.title('Mean expression in mammary by gender')
plt.show()

Since it is more robust, implement what you learned about Mann-Whitney U tests in Part I to assess differential expression in men and women. Store the p-value for each gene and plot a histogram of the p-values

In [ ]:
# Initialize the storage of p-values
gene_p_vals = []

# Iterate through genes and perform Rank-sum test on each gene to compare
# expression in men and women. Don't forget that df.iloc[rows, cols] will give you
# the entries in the data frame corresponding to rows and cols
for x in np.arange(?, ?):      # With which columns do we want to start and end?
    female_gene_data = female_data.iloc[:,x] # get the female data for the gene
    male_gene_data = ? # get the male data for the gene
    p_val = stats.mannwhitneyu(?, ?)[1] # perform the rank-sum test between males and females for this gene
    gene_p_vals.append(?)      # append p-value here

In [ ]:
plt.hist(gene_p_vals, bins = 20)
plt.xlabel('p-value')
plt.ylabel('Number of genes')
plt.title('Mammary tissue in men/women')
plt.show()

In [ ]:
# Compute the number of genes which are differentially expressed (p-value less than or equal to 0.05)
n_genes_de = np.sum(?) # you may need to apply np.array to your p-values if you stored them in a list
n_genes_de

#### The Volcano Plot

For the same set of data, plot a commonly used visualization of RNA-seq data: the volcano plot. It is the -log10 p-value vs log2 median FC

log2 median FC = log2(B) - log2(A) where B is the median of expression per gene in women and A is the median of expression per gene in men.

In [ ]:
# get -log10 p-values
log_p_vals = -np.log10(?)

# get log2 FCs. Remember np.median(df, axis = ?)
# note that data are already log2-transformed
log2_gene_fcs = np.median(female_data[2:], axis = 0)- np.median(?)

In [ ]:
# Make volcano plot.log2 FCs on x-axis and -log10 p-values go on y-axis
plt.scatter(?, ?, alpha=0.2)
plt.xlabel('Log2 FC')
plt.ylabel('-log10(p-value)')
plt.title('Female vs Male, mammary tissue')
plt.show()

## To submit

In [ ]:
ok = Notebook('Lab05_differential_expression.ok')
_ = ok.auth(inline=True)

In [ ]:
# Submit the assignment.
_ = ok.submit()